#lead{
        position:relative;
        height:100vh;
        min-height:500px;
        max-height:1080px;
        background:url(../imagenes/Fondomono.jpeg);
        background-size:cover;
        padding:15px;
        overflow:hidden
}
        #lead-content{
                position:absolute;
                z-index:10;
                top:40%;
                left:50%;
                transform:translate(-50%, -50%);
                text-align:center
        }
        #lead-content h1,#lead-content h2{
                margin:0
        }
        #lead-content h1{
                color:rgb(146, 2, 151);
                font-weight:900;
                font-size:5em;
                text-transform:uppercase;
                letter-spacing:0.05em;
                line-height:0.9em
        }
        #lead-content p{
                color:rgb(146, 2, 151);
                font-weight:400;font-size: 1.75em;
                margin: 30px;
                background-color:rgba(240, 255, 255, 0.8);
                border-radius: 40px;
        }
        #lead-overlay{
                position:absolute;
                height:100%;
                width:100%;
                top:0;
                right:0;
                bottom:0;
                left:0;
                background:rgba(249, 243, 233, 0.278);
                z-index:1}
        .btn-rounded-white {
                background-color: rgb(146, 2, 151); /* color de fondo blanco */
                color: #f6e9d4; /* color de texto negro */
                border: none; /* no border */
                border-radius: 50px; /* bordes redondeados */
                padding: 10px 20px; /* padding para darle espacio interior */
                font-size: 16px; /* tamaño de fuente */
                cursor: pointer; /* cursor en forma de mano para indicar que es clickable */
                text-decoration: none; /* no subrayado */
        }
              
        .btn-rounded-white:hover {
                background-color: #FAD7A0; /* color de fondo gris claro al pasar el mouse */
                color: #333; /* color de texto negro */
                text-decoration: none; /* no subrayado */
        }
              
        .btn-rounded-white:active {
                background-color: #e7e7e7; /* color de fondo gris claro al hacer click */
                color: #333; /* color de texto negro */
                text-decoration: none; /* no subrayado */
        }
        