<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estilo CSS</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
        <div class="tik">
            <img src="./ima-rec/antes.png"alt="">
            <img src="./ima-rec/xime.png"alt="">
            <img src="./ima-rec/japones.png"alt="">
            <img src="./ima-rec/castillo.png"alt="">
            <img src="./ima-rec/calavera.png"alt="">
        </div>

</body>
</html>
